{% extends 'base.html' %}
{% load static %}

{% block title %}Subscribe{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header text-center">
                <h1 class="h3">Subscribe to Our Newsletter</h1>
                <p class="text-muted">Get the latest posts delivered straight to your inbox.</p>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary w-100">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
